body {
    background-color:azure;
    color: black;
    font-weight: bold;
}

h1 {
    text-align: center;
}

div.financedata 
{
    margin-left: 12cm;
    margin-top: -3.6cm;
}
div.supply
{
    margin-left:12cm ;
    margin-top:-5cm;
}
div.health
{
    margin-left:12cm ;
    margin-top:-4cm;
}
div.cybersec
{
    margin-left:12cm ;
    margin-top:-4cm;
}
button
{
    align-items: end;
}